// 07. about css here
.hokme_sticky_banner{
    height: 1080px;
    @media #{$laptop-device}{
        height: 910px;
    }
    @media #{$desktop-device}{
        height: 700px;
    }
    @media #{$tablet-device}{
        height: 660px;
    }
    @media #{$large-mobile}{
        height: 500px;
    }
    @media #{$small-mobile2}{
        height: 430px;
    }
}
.hero_content {
    & span{
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 42px;
        @media #{$desktop-device}{
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 30px;
        }
        @media #{$tablet-device}{
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 30px;
        }
        @media #{$large-mobile}{
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 22px;
        }
        @media #{$small-mobile2}{
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 16px;
        }
    }
    & h1{
        font-size: 120px;
        line-height: 120px;
        font-weight: 700;
        margin-bottom: 0;
        @media #{$laptop-device}{
            font-size: 95px;
            line-height: 100px;
        }
        @media #{$desktop-device}{
            font-size: 80px;
            line-height: 85px;
        }
        @media #{$tablet-device}{
            font-size: 65px;
            line-height: 70px;
        }
        @media #{$large-mobile}{
            font-size: 50px;
            line-height: 57px;
        }
        @media #{$small-mobile2}{
            font-size: 32px;
            line-height: 40px;
        }
    }
}
.about_details_section{
    padding: 106px 0 195px;
    @media #{$tablet-device}{
        padding: 72px 0 73px;
    }
    @media #{$large-mobile}{
        padding: 53px 0 28px;
    }
}
.about_contet_iner{
    padding: 0 170px;
    @media #{$desktop-device}{
        padding: 0 100px;
    }
    @media #{$tablet-device}{
        padding: 0;
    }
    @media #{$large-mobile}{
        padding: 0;
    }
}
.about_title{
    margin-bottom: 118px;
    @media #{$tablet-device}{
        margin-bottom: 72px;
    }
    @media #{$large-mobile}{
        text-align: center;
        margin-bottom: 48px;
    }
    & h2{
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 0;
        font-family: $libre;
        @media #{$desktop-device}{
            font-size: 28px;
            line-height: 40px;
        }
        @media #{$tablet-device}{
            font-size: 28px;
            line-height: 40px;
        }
        @media #{$large-mobile}{
            font-size: 20px;
            line-height: 33px;
        }
    }
}

.services_desc{
    margin-bottom: 60px;
    @media #{$tablet-device}{
        margin-bottom: 42px;
    }
    @media #{$large-mobile}{
        text-align: center;
        margin-bottom: 37px;
    }
    & h3{
        font-size: 24px;
        line-height: 36px;
        font-weight: 600;
        margin-bottom: 35px;
        @media #{$tablet-device}{
            line-height: 28px;
            margin-bottom: 20px;
        }
        @media #{$large-mobile}{
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 19px;
        }
    }
    & h4{
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 30px;
        @media #{$tablet-device}{
            margin-bottom: 16px;
        }
        @media #{$large-mobile}{
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 17px;
        }
    }
    & p{
        font-size: 14px;
        line-height: 30px;
        color: #999999;
        @media #{$large-mobile}{
            line-height: 28px;
        }
    }
}
.about_direction {
    margin-bottom: 100px;
    @media #{$tablet-device}{
        margin-bottom: 43px;
    }
    @media #{$large-mobile}{
        flex-direction: column;
        text-align: center;
        margin-bottom: 43px;
    }

}
.about_direction_text{
    & ul{
        & li{
            font-size: 16px;
            line-height: 48px;
            text-transform: uppercase;
            @media #{$tablet-device}{
                font-size: 15px;
                line-height: 40px;
            }
            @media #{$large-mobile}{
                font-size: 15px;
                line-height: 42px;
            }
        }
    }
}


.about_gallery{
    margin-bottom: 128px;
    @media #{$tablet-device}{
        margin-bottom: 70px;
    }
    @media #{$large-mobile}{
        margin-bottom: 55px;
        padding-top: 15px;
    }
}
.about_gallery_thumb{
    position: relative;
    &:hover{
        &::before{
            opacity: 0.5;
        }
        & .about_popup_icont{
            opacity: 1;
            visibility: visible;
        }
    }
    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #000000;
        opacity: 0;
        pointer-events: none;
        transition: .3s;
    }
}

.about_popup_icont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    & a
    {
        font-size: 70px;
        color: #ffffff;
        @media #{$large-mobile}{
            font-size: 44px;
        }
    }
    
}

.about_contact {
    padding: 0 170px;
    @media #{$desktop-device}{
        padding: 0 100px;
    
    }
    @media #{$tablet-device}{
        padding: 0;
    }
    @media #{$large-mobile}{
        padding: 0;
        flex-direction: column;
        text-align: center;
    }
}
.about_contact_text{
    @media #{$large-mobile}{
        margin-bottom: 25px;
    }
    & h3{
        font-size: 18px;
        line-height: 36px;
        font-weight: 600;
        margin-bottom: 15px;
        @media #{$large-mobile}{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 10px;
        }
    }
    & p{
        font-size: 16px;
        line-height: 30px;
        color: #999999;
        & a{
            &:hover{
                color: $secondary_color;
            }
        }
        @media #{$large-mobile}{
            font-size: 15px;
            line-height: 26px;
        }
    }
}