/* 06. footer css here */
.footer_position{
    position: absolute;
    bottom: 35px;
    left: 60px;
    right: 60px;
    z-index: 99;
    @media #{$desktop-device}{
        left: 15px;
        right: 15px;
    }
    @media #{$tablet-device}{
        bottom: 30px;
        left: 0;
        right: 0;
    }
    @media #{$large-mobile}{
        bottom: 25px;
        left: 0;
        right: 0;
    }
    @media #{$small-mobile2}{
        bottom: 22px;
    }
}
.footer_inner {
    @media #{$tablet-device}{
        flex-wrap: wrap;
    }
    @media #{$large-mobile}{
        flex-wrap: wrap;
    }
    @media #{$small-mobile2}{
        flex-direction: column;
    }
}
.copyright_right{
    @media #{$small-mobile2}{
        text-align: center;
    }
    & p{
        font-size: 14px;
        line-height: 24px;
        color: #cccccc;
        text-transform: capitalize;
        font-weight: 400;
        & i{
            color: #f53400;
            font-size: 18px;
            vertical-align: middle;
            margin: 0 5px;
        }
        @media #{$large-mobile}{
            font-size: 13px;
            line-height: 22px;
        }
        & a{
            color: #ffffff;
            &:hover{
                color: $secondary_color;
            }
        }
        
    }
}
.footer_menu {
    width: 11%;
    @media #{$mini-laptop-device}{
        width: 15%;
    }
    @media #{$tablet-device}{
        width: 28%;
    }
}
.footer_social{
    @media #{$small-mobile2}{
        margin-top: 20px;
    }
    & ul{
        @media #{$small-mobile2}{
           justify-content: center;
        }
        & li{
            margin-right: 23px;
            &:last-child{
                margin-right: 0;
            }
            @media #{$tablet-device}{
                margin-right: 18px;
            }
            @media #{$large-mobile}{
                margin-right: 20px;
            }
            & a{
                font-size: 16px;
                line-height: 24px;
                color: #cccccc;
                &:hover{
                    color: $secondary_color;
                }
                @media #{$tablet-device}{
                    font-size: 15px;
                }
                @media #{$large-mobile}{
                    font-size: 15px;
                }
            }
        }
    }
}

.language_selection{
    & > ul{
        @media #{$small-mobile2}{
            justify-content: center;
         }
        & > li{
            position: relative;
            & > a{
                line-height: 33px;
                display: inline-block;
                text-transform: uppercase;
                &:hover{
                    color: $secondary_color;
                }
                & i{
                    font-size: 12px;
                }
            }
            & ul{
                position: absolute;
                min-width: 110px;
                background: #ffffff;
                box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
                right: -30px;
                z-index: 99;
                top: 100%;
                text-align: left;
                border-radius: 10px;
                display: none;
                padding: 5px 0;
                & li{
                    & > a{
                        line-height: 30px;
                        font-size: 13px;
                        display: block;
                        text-align: center;
                        &:hover{
                            color: $secondary_color;
                        }
                    }
                }
            }
        }
    }
}

.footer_bg{
    background: #f4f6f9;
    padding: 134px 45px 153px;
    @media #{$mini-laptop-device}{
        padding: 134px 0 153px;
    }
    @media #{$desktop-device}{
        padding: 134px 0 123px;
    }
    @media #{$tablet-device}{
        padding: 79px 0 41px;
    }
    @media #{$large-mobile}{
        padding: 60px 0 20px;
    }
}

.footer_widget_list{
    @media #{$desktop-device}{
        padding-right: 30px;
        width: 33.33%;
        margin-bottom: 30px;
        &:last-child{
            padding-right: 0;
        }
    }
    @media #{$tablet-device}{
        padding-right: 30px;
        
        margin-bottom: 30px;
        &:last-child{
            padding-right: 0;
        }
    }
    @media #{$large-mobile}{
        flex-wrap: wrap;
        padding-right: 30px;
        width: 50%;
        margin-bottom: 30px;
        &:last-child{
            padding-right: 0;
        }
    }
    @media #{$small-mobile2}{
        width: 100%;
        text-align: center;
        padding-right: 0;
    }
}
.main_footer{
    & .copyright_right{
        & p{
            color: #666666;
            line-height: 30px;
            & a{
                color: #000000;
            }
        }
    }
    .footer_social{
        & ul{
            & li{
                & a{
                    color: #000000;
                    &:hover{
                        color: $secondary_color;
                    }
                }
            }
        }
    }

}
.footer_menu{
    & ul{
        & li{
            margin-bottom: 14px;
            line-height: 22px;
            @media #{$large-mobile}{
                margin-bottom: 12px;
            }
            & a{
                font-size: 14px;
                line-height: 22px;
                color: #666666;
                display: inline-block;
                &:hover{
                    color: $secondary_color;
                    padding-left: 16px;
                }

            }
        }
    }
}
.footer_contact {
    & p{
        font-size: 14px;
        line-height: 30px;
        color: #666666;
        & a{
            &:hover{
                color: $secondary_color;;
            }
        }
    }
}