/* ------------user/login.blade.php + register.blade.php------------ */
.login-register {
    display: flex;
    justify-content: space-between;
}

.alert-box-danger {
    position: absolute;
    z-index: 10;
    top: -57px;
}

.alert-box-success {
    position: absolute;
    z-index: 10;
    top: 10px;
}


/* ------------home/index.blade.php------------ */
.indexTop {
    background-image: url('../../assets/images/backgrounds/bac-2.jpg');
    background-position: 50% 90%;
    background-repeat: no-repeat;
    overflow-x: hidden; /* 防止内容溢出 */
    max-width: 100%; /* 确保宽度不会超过容器 */
}

@media only screen and (max-width: 768px) {
    .indexTop {
        background-position: 70% 50%;
    }
}

.indexH2 {
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 3rem;
    color: white;
    letter-spacing: 2px;
}

.post_area {
    display: flex;
    justify-content: center;
}

.indexInpue {
    width: 90%;
}

/*主页输入框*/
.post_area {
    background: none;
    padding: 5px;
}

/*主页输入框 end*/

.card {
    margin-bottom: 1rem;
    background: #f6f6f6;
    cursor: pointer;
    transition: 0.5s ease-out;
    overflow: visible;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .card {
        margin-bottom: .5rem;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.25);
    }

    .card-header {
        padding: .5rem .5rem;
    }

    .card-body {
        padding: .5rem;
    }

    .card-footer {
        padding: .25rem .5rem;
    }

}

/*Hover*/
@media (min-width: 768px) {
    .card:hover {
        border-color: #008bf8;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    }
}


.main {
    /* background-image: url('../../assets/images/backgrounds/repeated-square.png'); */
    /* background-image: url('../../assets/images/backgrounds/去水印的bot4.jpeg'); */

}


/* ------------views/website.blade.php------------ */

.card-website {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: visible;
    transition: 0.5s ease-out;
    margin-bottom: 1rem;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: .0625rem solid rgba(0, 0, 0, 0.05);
    border-radius: .375rem
}

.item_row {
    display: flex;
    justify-content: space-between;
}

.card_web {
    position: relative;
    display: flex;
    flex-direction: column;
    /*min-width: 0;*/
    word-wrap: break-word;
    background-clip: border-box;
    border: .0625rem solid rgba(0, 0, 0, 0.05);
    border-radius: .375rem;
    background: #f8f8f6;
    transition: .5s;
    margin-bottom: 1rem;
}

.card_web:hover {
    transform: translateY(-.5rem); /* 上移 10 像素 */
}

.card_web-body {
    flex: 1 1 auto;
    padding: 1rem;
    display: flex;
}

.card_web-body2 {
    overflow: hidden;
}

.card_web-text {
    white-space: nowrap; /* 禁止文本换行 */
    overflow: hidden; /* 隐藏超出容器宽度的文本 */
    text-overflow: ellipsis; /* 超出时显示省略号 */
    margin-bottom: 0;
}

.card_web-title {
    margin-bottom: .5rem;
    text-align: center;
}

/* ------------views/posts.blade.php------------ */
.posts-time-box {
    display: flex;
    height: 2rem;
    align-items: center;
}

.posts-view {
    margin-left: 1.5rem;
    padding-bottom: .1rem;
}

.card-posts {
    margin-bottom: 1rem;
    background: #fff;
}

/* ------------views/contact.blade.php------------ */
.card-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-contact {
    width: 450px;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 10px 63px rgba(0, 0, 0, 0.05), 0px 37px 37px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 17px 17px 27px 27px;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.card-contact:hover {
    transform: translateX(20px); /* 向右平移 20 像素 */
}

.title {
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #f1f1f1;
    font-weight: 700;
    font-size: 13px;
    color: #47484b;
}

.title::after {
    content: '';
    width: 8ch;
    height: 1px;
    position: absolute;
    bottom: -1px;
    background-color: #47484b;
}

.comments {
    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 20px;
    padding: 20px;
}

.comment-react {
    width: 35px;
    height: fit-content;
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.comment-react button {
    width: 35px;
    height: 35px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    outline: none;
}

.comment-react button:after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    left: -2.5px;
    top: -2.5px;
    background-color: #f5356e;
    border-radius: 50%;
    z-index: 0;
    transform: scale(0);
}

.comment-react button svg {
    position: relative;
    z-index: 9;
}

.comment-react button:hover:after {
    animation: ripple 0.6s ease-in-out forwards;
}

.comment-react button:hover svg {
    fill: #f5356e;
}

.comment-react button:hover svg path {
    stroke: #f5356e;
    fill: #f5356e;
}

.comment-react hr {
    width: 80%;
    height: 1px;
    background-color: #dfe1e6;
    margin: auto;
    border: 0;
}

.comment-react span {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 13px;
    font-weight: 600;
    color: #707277;
}

.comment-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.comment-container .user {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
}

.comment-container .user .user-pic {
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border-radius: 50%;
}

/*用户头像右下角的那个绿点，表示在线状态*/
/*.comment-container .user .user-pic:after {*/
/*    content: '';*/
/*    width: 9px;*/
/*    height: 9px;*/
/*    position: absolute;*/
/*    right: 0px;*/
/*    bottom: 0px;*/
/*    border-radius: 50%;*/
/*    background-color: #0fc45a;*/
/*    border: 2px solid #ffffff;*/
/*}*/

.comment-container .user .user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3px;
}

.comment-container .user .user-info span {
    font-weight: 700;
    font-size: 12px;
    color: #47484b;
}

.comment-container .user .user-info p {
    font-weight: 600;
    font-size: 10px;
    color: #acaeb4;
}

.comment-container .comment-content {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #5f6064;
}


@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 0.6;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}
